.header {
  background-color: transparent;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  margin: auto 0;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.logo {
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
  margin-left: 45px;
}
.navbar_nav {
  list-style: none;
  margin-right: 200px;
}
.headerWrapper ul {
  display: flex;
  color: white;
  margin-right: 250px;
}
.headerWrapper ul .navItems {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}
.headerWrapper ul .navItems:nth-child(1) {
  animation-delay: 0s;
}

.headerWrapper ul .navItems:nth-child(2) {
  animation-delay: 0.5s;
}

.headerWrapper ul .navItems:nth-child(3) {
  animation-delay: 1s;
}

.headerWrapper ul .navItems:nth-child(4) {
  animation-delay: 1.5s;
}

.headerWrapper ul .navItems a {
  margin: 0 5rem;
  position: relative;
  color: #fff;
}

.navLink {
  color: white;
  font-size: 18px;
  margin-right: 65px;
  text-align: center;
  text-decoration: none;
  padding: 0.6rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
  color: #fff;
}
.humbergButton {
  display: none;
  position: relative;
  border: none;
}
.topbarab {
  width: 70%;
  transform: rotatez(-45deg) translate(-9px, 23px);
  position: relative;
  transition: all 0.3s;
}
.middlebarab {
  opacity: 0;
  transition: all 0.3s;
  position: relative;
  width: 70%;
}
.bottombarab {
  position: relative;
  transform-origin: bottom;
  width: 70%;
  transform: translate(10px, -2px) rotatez(45deg);
  transition: all 0.3s;
}
label {
  margin-top: 30px;
}
label span {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  transition: all 0.3s;
}

.humbergButton .topbar {
  width: 60%;
}

.middlebar {
  width: 60%;
}

.bottombar {
  width: 60%;
}
.wrapper {
  display: none;
}

.wrapperItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22253b;
  height: 100vh;
}

.wrapperItems a {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.wrapperItems a:hover {
  background-color: transparent;
  transition: ease-in-out 1s;
}

.headerWrapper ul .navItems a:last-child {
  margin-right: 0;
}

.headerWrapper ul .navItems a::before,
.headerWrapper ul .navItems a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ec3944;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

.headerWrapper ul .navItems a::before {
  top: 0;
  transform-origin: left;
}

.headerWrapper ul .navItems a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

.headerWrapper ul .navItems a:hover::before,
.headerWrapper .navItems a:hover::after {
  transform: scaleX(1);
}
.wrapperab {
  display: none;
}
@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

/*akjdsjdak*/

@media screen and (max-width: 1440px) {
  .navLink {
    margin-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .navLink {
    margin-right: 2px;
  }
  .header {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .navLink {
    display: none;
  }
  .logo {
    margin-left: 0;
  }
  .navButton {
    display: none !important;
  }
  .wrapperItems {
    height: 108vh;
    margin-bottom: 40px;
  }
  .humbergButton {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    right: 27px;
    bottom: 29px;
    width: 60px;

    /* width: 60px;
    height: 60px;
    margin-top: 20px; */
    /* top */
  }
  .wrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    transition: ease-in 0.2s;
    z-index: 998;
  }
  .wrapperab {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* left: -100%; */
    left: 0px;
    top: -1600px;
    transition: ease-in 0.2s;
    z-index: 998;
    margin-right: 715px;
  }
}
@media screen and (max-width: 607px) {
  .wrapperItems {
    padding-bottom: 65px !important;
    height: 115vh;
  }
  .wrapperItems a {
    margin-bottom: 30px;
  }
  .wrapperItems a:last-child() {
    padding-bottom: 100px !important;
  }
}
@media screen and (max-width: 567px) {
  .wrapperItems {
    height: 120vh;
    padding-bottom: 80px !important;
  }
}
@media screen and (max-width: 507px) {
  .wrapperItems {
    height: 140vh;
    padding-bottom: 100px !important;
  }
}
@media screen and (max-width: 457px) {
  .wrapperItems {
    height: 135vh;
    padding-bottom: 150px !important;
  }
}
