/* .holder {
  padding-right: 40px;
}
#total {
  margin-left: 60px;
} */
.dropdownMenu {
  border: none;
  border-bottom: 1px solid #525569;
  display: block;
  padding: 0 0 10px;
  width: 100%;
  background: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.dropdownMenu option {
  background-color: #525569;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.holder button {
  border: 0 !important;
  border-radius: 100% !important;
  width: 25px !important;
  height: 25px !important;
  background: #5f9698 !important;
  cursor: pointer !important;
}
.ranger {
  margin-bottom: 20px;
}
/* @media screen and (max-width: 900px) {
  .holder {
    padding-right: 0%;
  }
  #total {
    margin-left: 2%;
  }
} */
.container::before {
  background: transparent !important;
}
.ab {
  position: absolute;
  top: 84%;
  left: 60px;
}
.ab img {
  width: 40px;
  height: 40px;
}
.Wrapper {
  display: flex;
  flex-direction: row;
}
.orions {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffd600;
  margin-right: 20px;
  margin-bottom: 5px;
}
.rightContent {
  margin-top: 130px;
  margin-left: 40px;
}
.img2 {
  display: flex;
  flex-direction: column;
}
.img2Text {
  font-size: 20px;
}
.wrap {
  display: flex;
  flex-direction: row;
}
